# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3

# Environment variables
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Expo
.expo/
.expo-shared/

# Build
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db